<p>Attention <strong>{{Name}}</strong>.<br />
<br />
An Application for review: <strong>{{ApplicationNo}}: {{Applicant}} VS {{PE}} </strong> with respect to Tender NO: {{tenderNo}} ({{tendername}}) has been filed.<br />
<br />
Login to ARCMS.&quot;<br />
<br />
This is computer generated message.Please do not reply.</p>
