<p>This is to confirm the Acknowledgement of a request to respond to Application: <strong>{{ApplicationNo}}</strong> ;<strong>{{Applicant}}</strong> VS <strong>{{PE}}</strong> with respect to Tender No: <strong>{{TenderNO}}</strong> <strong>{{TenderName}}</strong> which had been sent to Procuring Entity (<strong>{{PE}}</strong>).</p>

<p>DISCLAIMER</p>

<p>This is system generated email.Do not reply</p>
