<p>This is to confirm the Acknowledgement of a request to respond to Application:
    <b>{{ApplicationNo}}</b> ;<b>{{Applicant}}</b> VS <b>{{PE}}</b> with respect to Tender No: <b>{{TenderNO}}</b>
    <b>{{TenderName}}</b>
    which had been sent to Procuring Entity (<b>{{PE}}</b>).</p>